{
    "openapi": "3.0.0",
    "info": {
        "title": "Leymax POS API",
        "description": "API documentation for Leymax POS system",
        "contact": {
            "name": "Leymax Support",
            "email": "support@leymax.com"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "API Server"
        }
    ],
    "paths": {
        "/api/businesses": {
            "get": {
                "tags": [
                    "Businesses"
                ],
                "summary": "List all businesses",
                "operationId": "7123a3e6abeab779b8460888ff15e0fb",
                "parameters": [
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Filter by business type",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "bakery",
                                "cake_tools",
                                "academy"
                            ]
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search businesses by name",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "active",
                        "in": "query",
                        "description": "Filter by active status",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Items per page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of businesses",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Success"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Business"
                                            }
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/PaginationMeta"
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/PaginationLinks"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Businesses"
                ],
                "summary": "Create a new business",
                "operationId": "4533b15ef840def2c9ceb555a2bd66d2",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "type",
                                    "email"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "maxLength": 255
                                    },
                                    "type": {
                                        "type": "string",
                                        "enum": [
                                            "bakery",
                                            "cake_tools",
                                            "academy"
                                        ]
                                    },
                                    "registration_number": {
                                        "type": "string",
                                        "maxLength": 50
                                    },
                                    "tax_number": {
                                        "type": "string",
                                        "maxLength": 50
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "maxLength": 20
                                    },
                                    "address": {
                                        "type": "string"
                                    },
                                    "city": {
                                        "type": "string",
                                        "maxLength": 100
                                    },
                                    "state": {
                                        "type": "string",
                                        "maxLength": 100
                                    },
                                    "country": {
                                        "type": "string",
                                        "maxLength": 100
                                    },
                                    "postal_code": {
                                        "type": "string",
                                        "maxLength": 20
                                    },
                                    "currency": {
                                        "type": "string",
                                        "maxLength": 3
                                    },
                                    "timezone": {
                                        "type": "string"
                                    },
                                    "logo": {
                                        "type": "string",
                                        "format": "binary"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Business created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Business created successfully"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Business"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid"
                                        },
                                        "error": {
                                            "type": "string",
                                            "example": "The given data was invalid"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/businesses/{business}": {
            "get": {
                "tags": [
                    "Businesses"
                ],
                "summary": "Get business details",
                "operationId": "eecb784711baa17378ca00f0ddf3fa51",
                "parameters": [
                    {
                        "name": "business",
                        "in": "path",
                        "description": "Business ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Business details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Success"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Business"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Business not found"
                    }
                }
            },
            "put": {
                "tags": [
                    "Businesses"
                ],
                "summary": "Update business details",
                "operationId": "2246ee54ed9f0fe74a81719232faf0b3",
                "parameters": [
                    {
                        "name": "business",
                        "in": "path",
                        "description": "Business ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BusinessUpdateRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Business updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Business updated successfully"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/Business"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Businesses"
                ],
                "summary": "Delete a business",
                "operationId": "32ceeae989c405fad4ab112b37a29ad9",
                "parameters": [
                    {
                        "name": "business",
                        "in": "path",
                        "description": "Business ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Business deleted successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Business deleted successfully"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/businesses/{business}/toggle-status": {
            "post": {
                "tags": [
                    "Businesses"
                ],
                "summary": "Toggle business active status",
                "operationId": "ffea6df6f5b0c33ac5034dc358b0482e",
                "parameters": [
                    {
                        "name": "business",
                        "in": "path",
                        "description": "Business ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Business status updated successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Business status updated successfully"
                                        },
                                        "data": {
                                            "properties": {
                                                "is_active": {
                                                    "type": "boolean"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/businesses/{business}/statistics": {
            "get": {
                "tags": [
                    "Businesses"
                ],
                "summary": "Get business statistics",
                "operationId": "84c130d00274f4f10908e2aa9b2ac292",
                "parameters": [
                    {
                        "name": "business",
                        "in": "path",
                        "description": "Business ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Business statistics",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Success"
                                        },
                                        "data": {
                                            "properties": {
                                                "total_stores": {
                                                    "type": "integer"
                                                },
                                                "total_products": {
                                                    "type": "integer"
                                                },
                                                "low_stock_products": {
                                                    "type": "integer"
                                                },
                                                "out_of_stock_products": {
                                                    "type": "integer"
                                                },
                                                "total_bakery_products": {
                                                    "type": "integer"
                                                },
                                                "total_tools": {
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Business": {
                "required": [
                    "id",
                    "name",
                    "type",
                    "email",
                    "is_active",
                    "created_at",
                    "updated_at"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "name": {
                        "type": "string",
                        "maxLength": 255
                    },
                    "type": {
                        "type": "string",
                        "enum": [
                            "bakery",
                            "cake_tools",
                            "academy"
                        ]
                    },
                    "registration_number": {
                        "type": "string",
                        "maxLength": 50,
                        "nullable": true
                    },
                    "tax_number": {
                        "type": "string",
                        "maxLength": 50,
                        "nullable": true
                    },
                    "email": {
                        "type": "string",
                        "format": "email"
                    },
                    "phone": {
                        "type": "string",
                        "maxLength": 20,
                        "nullable": true
                    },
                    "address": {
                        "type": "string",
                        "nullable": true
                    },
                    "city": {
                        "type": "string",
                        "maxLength": 100,
                        "nullable": true
                    },
                    "state": {
                        "type": "string",
                        "maxLength": 100,
                        "nullable": true
                    },
                    "country": {
                        "type": "string",
                        "maxLength": 100,
                        "nullable": true
                    },
                    "postal_code": {
                        "type": "string",
                        "maxLength": 20,
                        "nullable": true
                    },
                    "currency": {
                        "type": "string",
                        "maxLength": 3,
                        "nullable": true
                    },
                    "timezone": {
                        "type": "string",
                        "nullable": true
                    },
                    "logo_path": {
                        "type": "string",
                        "nullable": true
                    },
                    "is_active": {
                        "type": "boolean"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "deleted_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "BusinessUpdateRequest": {
                "required": [
                    "name",
                    "type",
                    "email"
                ],
                "properties": {
                    "name": {
                        "type": "string",
                        "maxLength": 255
                    },
                    "type": {
                        "type": "string",
                        "enum": [
                            "bakery",
                            "cake_tools",
                            "academy"
                        ]
                    },
                    "registration_number": {
                        "type": "string",
                        "maxLength": 50
                    },
                    "tax_number": {
                        "type": "string",
                        "maxLength": 50
                    },
                    "email": {
                        "type": "string",
                        "format": "email"
                    },
                    "phone": {
                        "type": "string",
                        "maxLength": 20
                    },
                    "address": {
                        "type": "string"
                    },
                    "city": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "state": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "country": {
                        "type": "string",
                        "maxLength": 100
                    },
                    "postal_code": {
                        "type": "string",
                        "maxLength": 20
                    },
                    "currency": {
                        "type": "string",
                        "maxLength": 3
                    },
                    "timezone": {
                        "type": "string"
                    },
                    "logo": {
                        "type": "string",
                        "format": "binary"
                    },
                    "is_active": {
                        "type": "boolean"
                    }
                },
                "type": "object"
            },
            "PaginationMeta": {
                "properties": {
                    "current_page": {
                        "type": "integer"
                    },
                    "from": {
                        "type": "integer"
                    },
                    "last_page": {
                        "type": "integer"
                    },
                    "path": {
                        "type": "string"
                    },
                    "per_page": {
                        "type": "integer"
                    },
                    "to": {
                        "type": "integer"
                    },
                    "total": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "PaginationLinks": {
                "properties": {
                    "first": {
                        "type": "string",
                        "format": "uri"
                    },
                    "last": {
                        "type": "string",
                        "format": "uri"
                    },
                    "prev": {
                        "type": "string",
                        "format": "uri",
                        "nullable": true
                    },
                    "next": {
                        "type": "string",
                        "format": "uri",
                        "nullable": true
                    }
                },
                "type": "object"
            }
        },
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            }
        }
    },
    "tags": [
        {
            "name": "Businesses",
            "description": "Business management endpoints"
        }
    ]
}